<h1 *ngIf="type === 'h1'" [ngStyle]="{ color }">{{ value | titlecase }}</h1>
<h2 *ngIf="type === 'h2'" [ngStyle]="{ color }">{{ value | titlecase }}</h2>
<h3 *ngIf="type === 'h3'" [ngStyle]="{ color }">{{ value | titlecase }}</h3>
<h4 *ngIf="type === 'h4'" [ngStyle]="{ color }">{{ value | titlecase }}</h4>
<h5 *ngIf="type === 'h5'" [ngStyle]="{ color }">{{ value | titlecase }}</h5>
<h6 *ngIf="type === 'h6'" [ngStyle]="{ color }">{{ value | titlecase }}</h6>
<p *ngIf="type === 'p'" [ngStyle]="{ color }">{{ value }}</p>
