<todo-form
	[class]="'mt-4'"
	[darkMode]="darkMode"
	(post)="onPost($event)"
></todo-form>

<div class="filter-icons">
	<button type="button" class="btn" (click)="onFilteredList(null)">
		<fa-icon [icon]="iconAll" class="filter-icon-item info"></fa-icon>
	</button>
	<button type="button" class="btn" (click)="onFilteredList('incomplete')">
		<fa-icon
			[icon]="iconNotCompleted"
			class="filter-icon-item danger"
		></fa-icon>
	</button>
	<button type="button" class="btn" (click)="onFilteredList('complete')">
		<fa-icon [icon]="iconCompleted" class="filter-icon-item success"></fa-icon>
	</button>
</div>

<div class="list" [ngClass]="{ dark: darkMode === 'dark' }">
	<div *ngFor="let todo of todosListFiltered$ | async">
		<todo
			[todo]="todo"
			[darkMode]="darkMode"
			(update)="onUpdateStatus($event)"
			(delete)="onDelete($event)"
		></todo>
	</div>
</div>
