<form #form="ngForm" (ngSubmit)="onSubmit(form)">
	<div
		class="form-group"
		[class]="class"
		[ngClass]="{ dark: darkMode === 'dark' }"
	>
		<input
			type="text"
			class="form-control"
			name="newTodo"
			id="newTodo"
			[placeholder]="'Enter your todo'"
			[(ngModel)]="todoToAdd"
			required
			minlength="4"
			#title="ngModel"
		/>
		<button
			type="submit"
			class="btn"
			[ngClass]="{ dark: darkMode === 'dark' }"
			[disabled]="!form.valid"
		>
			Add
		</button>
	</div>

	<div *ngIf="title.invalid">
		<alert
			[message]="'The name of the todo must contain at least 4 characters'"
			*ngIf="title.errors?.['minlength']"
		></alert>
	</div>
</form>
