<div class="container" [ngClass]="{ dark: darkMode === 'dark' }">
	<div class="content-box" [ngClass]="{ dark: darkMode === 'dark' }">
		<div class="content-top-box">
			<typography
				[type]="'h1'"
				[value]="'todo app'"
				[color]="darkMode === 'dark' ? 'white' : 'black'"
			></typography>

			<dark-mode-button
				[darkMode]="darkMode"
				(icon)="OnSwitchDarkMode()"
			></dark-mode-button>
		</div>

		<todo-form [class]="'mt-4'" [darkMode]="darkMode"></todo-form>

		<div class="filter-icons">
			<button type="button" class="btn" (click)="onFilteredList(null)">
				<fa-icon [icon]="iconAll" class="filter-icon-item info"></fa-icon>
			</button>
			<button type="button" class="btn" (click)="onFilteredList('incomplete')">
				<fa-icon
					[icon]="iconNotCompleted"
					class="filter-icon-item danger"
				></fa-icon>
			</button>
			<button type="button" class="btn" (click)="onFilteredList('complete')">
				<fa-icon
					[icon]="iconCompleted"
					class="filter-icon-item success"
				></fa-icon>
			</button>
		</div>

		<div *ngFor="let todo of todosListFiltered$ | async" class="list">
			<todo [todo]="todo" [darkMode]="darkMode"></todo>
		</div>
	</div>
</div>
