.container {
	background: #f0ebeb;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 1rem;

	&.dark {
		background: #353030;
	}
}

.content-box {
	display: flex;
	justify-content: space-between;
	background: #fff;
	text-align: center;
	width: 100%;
	max-width: 31.25rem; // 500px
	padding: 1rem;
	border-radius: 0.625rem;

	&.dark {
		background: #403c3c;
	}
}
