.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f0ebeb;
	padding: 1rem;
	border-radius: 0.625rem;

	&.dark {
		background: #565050;
	}
}

.card-body {
	display: flex;
	align-items: center;
}

.icon {
	font-size: 1.25rem;
}

.icon-delete-box {
	background-color: white;
	padding: 0.35rem;
	border-radius: 0.3rem;
	cursor: pointer;
}

.icon-delete {
	font-size: 0.8rem;
}
